<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path_for('home') }}">Slim App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav mr-left">
    {% if auth.check %}
    <li class="nav-item dropdown my-2 my-lg-0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ auth.user.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path_for('auth.password.change') }}">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ path_for('auth.logout') }}">Sing Out</a>
        </div>
      </li>
      <li> </li>
      <li> </li>
      <li> </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path_for('auth.singup') }}">Sing Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path_for('auth.login') }}">Sing In</a>
      </li>
      <li>
        </li>
    {% endif %}
      </ul>
  </div>
</nav>